body {
  color: #09a8fa;
  background-color: black;
  font-size: 16px;
  font-weight: 10;
  font-family: 'Inconsolata', monospace;
  width: 500px;
}

p{
  font-size: 16px;
  text-align: justify;
  width: 500px;
  padding-bottom: 0px;
  padding-right: 0px;
  padding-top: 0px;
  margin: auto;
}

h2{
  color: #09a8fa;
  font-size: 20px;
}

h1{
  color: #008cff;
  font-size: 24px;
  font-weight: strong;
}


div {
}

.container {
  width: 500px;
  margin: 30px auto;
}

.img-circle {
  border-radius: 50%;
}
.text-center {
  text-align: center;
}

.list-inline > li {
  display: inline-block;
  padding: 0px 20px;
}

.profile-pic {
  border-radius: 2%;
  width: 100px;
  height: 100px;
  border: 3px dotted #09a8fa;
  padding: 5px;
}
.social-media-icons {
  font-size: 20px;
  opacity: 0.9;
}

.social-media-icons:hover {
  color: rgb(150,150,150);
  opacity: 0.5;
}

.card {
  background-color: #3c3c3d;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 2px;
}

.center {
  text-align: center;
  padding-left: 0px;
}

.btn-blue{
  background-color: #09a8fa;
  color: black;
  font-weight: 500;
  padding: 10px;
  border-radius: 4px;
}

.list-inline {
  padding-left: 0px;
}

.list-inline > li {
  display: inline-block;
  padding: 20px;
}

.list-inline i {
  font-size: 25px;
}

.text-center{
  text-align: center;
}

a {
  color: #9edeff;
  text-decoration: none;
}

a:visited {
 text-decoration: none;
 color: white;
}

a:hover {
  text-decoration: underline;
}
